
@using resourceView = TK_ECAR.Content.resources.TK_ECAR_Resource
@using TK_ECAR.Models
@model DatosGeneralesModel

<div id="FichaConductor">
    @Html.Partial("~/Views/MiVehiculo/_DatosGenerales.cshtml", @Model)
</div>

