 
<div class="input-group">    
    @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue.ToString(), "{0:c}", new { @class = "form-control", @puedeDeshabilitarse = "SI" })
    <div class="input-group-addon">€</div>
</div>