@using resourceView = TK_ECAR.Content.resources.TK_ECAR_Resource

<select id="miTipoVehiculo" title=@resourceView.LSelectCompany search class="form-control" data-placeholder=@resourceView.placeholderChosen puedeDeshabilitarse = "SI">
    <option></option>
</select>
<style type="text/css">
    #miTipoVehiculo_chosen {
        width: 100% !important;
        display: block;
    }
</style>
<script type="text/javascript">

    if ($("#IDTipoVehiculo").val() != '') {
        var uRl = '@Html.Raw(@Url.Action("GetTipoVehiculoByID_Chosen", "MiFlota", new { ID = "idchosen" }))'
        uRl = uRl.replace("idchosen", $("#IDTipoVehiculo").val());
        $.ajax({
            "url": uRl,
            "dataType": 'json',
            //"async": false,
            "success": function (data, t, x) {
                $.each(data, function (i, val) {
                    var $opt = $('<option value="' + val.value + '" selected="selected">').html(val.text);
                    $('#miTipoVehiculo').append($opt);
                });

                $("#miTipoVehiculo").trigger("chosen:updated");
            }
        });
    }

    TipoVehiculoChosen();

    function TipoVehiculoChosen() {
        $("#miTipoVehiculo").ajaxChosen({
            type: 'GET',
            url: '@Url.Action("GetTipoVehiculo_Chosen", "MiFlota")',
            minTermLength: 0,
            dataType: 'json'
        }, function (data) {
            var terms = [];
            $.each(data, function (i, val) {
                terms[i] = val;
            });
            return terms;

        },
            {
                //options
                disable_search_threshold: -1,
                allow_single_deselect: true,
            });
    }
    //Pasar como parámetro a chosen el filtro de lo que se quiere.
    $('#miTipoVehiculo').change(function () {
        $("#IDTipoVehiculo").val(this.value);
    });


</script>
