@using resourceView = TK_ECAR.Content.resources.TK_ECAR_Resource

<select id="miTipoLiquidacion" title=@resourceView.LSelectCompany search class="form-control" data-placeholder=@resourceView.placeholderChosen puedeDeshabilitarse = "SI">
    <option></option>
</select>
<style type="text/css">
    #miTipoLiquidacion_chosen {
        width: 100% !important;
        display: block;
    }
</style>
<script type="text/javascript">

    if ($("#IDTipoLiquidacion").val() != '') {
        var uRl = '@Html.Raw(@Url.Action("GetTipoLiquidacionByID_Chosen", "MiFlota", new { ID = "idchosen" }))'
        uRl = uRl.replace("idchosen", $("#IDTipoLiquidacion").val());
        $.ajax({
            "url": uRl,
            "dataType": 'json',
            //"async": false,
            "success": function (data, t, x) {
                $.each(data, function (i, val) {
                    var $opt = $('<option value="' + val.value + '" selected="selected">').html(val.text);
                    $('#miTipoLiquidacion').append($opt);
                });

                $("#miTipoLiquidacion").trigger("chosen:updated");
            }
        });
    }

    TipoRutaChosen();

    function TipoRutaChosen() {
        $("#miTipoLiquidacion").ajaxChosen({
            type: 'GET',
            url: '@Url.Action("GetTipoLiquidacion_Chosen", "MiFlota")',
            minTermLength: 0,
            dataType: 'json'
        }, function (data) {
            var terms = [];
            $.each(data, function (i, val) {
                terms[i] = val;
            });
            return terms;

        },
            {
                //options
                disable_search_threshold: -1,
                allow_single_deselect: true,
            });
    }
    //Pasar como parámetro a chosen el filtro de lo que se quiere.
    $('#miTipoLiquidacion').change(function () {
        $("#IDTipoLiquidacion").val(this.value);
    });


</script>
