@using resourceView = TK_ECAR.Content.resources.TK_ECAR_Resource
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error Navigator Not Supported";
}

<div class="row">
    <div class="col-sm-12">
        <div class="info" style="height:100px">
            <h3>@resourceView.TitleBrowserNotSupported</h3>
            <p>@resourceView.TitleBrowserNotSupportedInf</p>
        </div>
    </div>
</div>